<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="43210MaximeBoucher.ImaginaInpainting"
    Publisher="CN=89D6C39D-AF92-46C4-BA95-13FA850CB089"
    Version="1.0.2.0" />

  <mp:PhoneIdentity PhoneProductId="d8500dcb-060a-45e3-b776-0e3a9657cc5b" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Imagina Inpainting</DisplayName>
    <PublisherDisplayName>Maxime Boucher</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="m1_image_projet.App">
      <uap:VisualElements
        DisplayName="Imagina Inpainting"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Description="m1-image-projet"
        BackgroundColor="transparent" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile  Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>